<template>
    <div class="contactPage">
        <h2>Contact me</h2>
        <p class="contactInfo">Donec elementum id lacus sed pharetra. Vivamus ultricies dictum quam at pellentesque. Donec tincidunt at augue nec vestibulum. Duis ac pharetra ligula. Sed augue nibh, ultrices venenatis justo nec, rhoncus hendrerit est. Aliquam semper augue aliquam mi viverra, sed malesuada ipsum pharetra. Etiam interdum sit amet urna non sodales. Maecenas et purus ut lorem laoreet vehicula. Duis malesuada sem non lorem tempor sagittis. Curabitur at sagittis justo, non placerat lectus. Curabitur massa erat, ultricies id est et, eleifend porttitor quam. Suspendisse congue, ipsum euismod fermentum varius, diam ipsum hendrerit libero, ac interdum nibh massa a massa. In hac habitasse platea dictumst. Aliquam vel ligula eget lacus fringilla placerat vitae id leo.</p>

      <!--  <form class="contactForm">
            <p class="formFields">First name: <input v-model="firstName"></p>
            <p class="formFields">Last name: <input v-model="lastName"></p>
            <p class="formFields">E-mail address: <input v-model="email"></p>
            <p class="formFields">Topic: <input v-model="topic"></p>
            <p class="formFields">Message: <textarea v-model="message"></textarea></p>
            <button type="submit">Send</button>
            <p>Name is {{ firstName }}</p>
        </form> -->
        <a class="socialLinks" href="#"><img class="linkImg" src="../assets/facebook-icon2.png"></a>
        <a class="socialLinks" href="#"><img class="linkImg"  src="../assets/instagram_icon.png"></a>
    </div>
</template>
<style>
.contactInfo {
    margin: 1% 10% 1% 10%;
    text-align: left;
}
.formFields {
    text-align: right;
}
.socialLinks {
    max-height: 30px;
    max-width: 30px;
}
.linkImg {
    max-height: 30px;
    max-width: 30px;
    padding-right: 20px;
}
/* .contactForm {
    position: center;
} */
</style>
