
<template>
    <div id="page-wrap">
        <img v-responsive.lg.xl src="../assets/me.jpg" alt="me" id="pic-desktop" />
        <h1 v-responsive.md class="fn-tablet">Otto Järvinen</h1>
        <h1 v-responsive.sm.xs class="fn-mobile">Otto Järvinen</h1>
        <img v-responsive.md src="../assets/me.jpg" alt="me" id="pic-tablet" />
        <div v-responsive.sm.xs class="pic-mobile">
        <img v-responsive.sm.xs src="../assets/me.jpg" alt="me" id="pic-mobile" />
        </div>
        <div id="contact-info" class="vcard">
            <h1 v-responsive.lg.xl class="fn-desktop">Otto Järvinen</h1>
            <div id="generalInfo">
            <p class="generalInfo">
                Cell: <span class="tel">012-345-5678</span><br />
                Email: <a class="email" href="#">curabitur.tincidunt@suscipit.com</a>
            </p>
            </div>
            <div v-responsive.md id="objective-tablet">
            <p>
                {{ textObjective }}
            </p>
            </div>
            <div v-responsive.sm.xs id="objective-mobile">
            <p>
                {{ textObjective }}
            </p>
            </div>
        </div>
        <div v-responsive.lg.xl id="objective-desktop">
            <p>
                {{ textObjective }}
            </p>
        </div>
        <div class="clear"></div>
        <dl v-responsive.lg.xl.md>
            <dd class="clear"></dd>
            <dt>Education</dt>
            <dd>
                <h2>{{ educationTitle }}</h2>
                <p><strong>{{ educationSubtitle1 }}:</strong> {{ educationText1 }}<br />
                   <strong>{{ educationSubtitle2 }}:</strong> {{ educationText2 }}</p>
            </dd>
            <dd class="clear"></dd>
            <dt>Skills</dt>
            <dd>
                <h2>{{ skillsTitle1 }}</h2>
                <p>{{ skillsText1 }}</p>
                <h2>{{ skillsTitle2 }}</h2>
                <p>{{ skillsText2 }}</p>
            </dd>
            <dd class="clear"></dd>
            <dt>Experience</dt>
            <dd>
                <h2>{{ expTitle1 }}</h2>
                <ul>
                    <li>{{ expTitle1Text1 }}</li>
                    <li>{{ expTitle1Text2 }}</li>
                    <li>{{ expTitle1Text3 }}</li>
                </ul>
                <h2>{{ expTitle2 }}</h2>
                <ul>
                    <li>{{ expTitle2Text1 }}</li>
                    <li>{{ expTitle2Text2 }}</li>
                    <li>{{ expTitle2Text3 }}</li>
                </ul>
            </dd>
            <dd class="clear"></dd>
            <dt>Hobbies</dt>
            <dd class="hobbies">{{ hobbies }}</dd>
            <dd class="clear"></dd>
            <dt>References</dt>
            <dd class="references">{{ references }}</dd>
            <dd class="clear"></dd>
        </dl>
        <dl v-responsive.sm.sx>
            <dd class="clear"></dd>
            <h2>Education</h2>
                <h4>{{ educationTitle }}</h4>
                <p><strong>{{ educationSubtitle1 }}:</strong> {{ educationText1 }}<br />
                   <strong>{{ educationSubtitle2 }}:</strong> {{ educationText2 }}</p>
            <dd class="clear"></dd>
            <h2>Skills</h2>
                <h4>{{ skillsTitle1 }}</h4>
                <p>{{ skillsText1 }}</p>
                <h4>{{ skillsTitle2 }}</h4>
                <p>{{ skillsText2 }}</p>
            <dd class="clear"></dd>
            <h2>Experience</h2>
                <h4>{{ expTitle1 }}</h4>
                <ul>
                    <li>{{ expTitle1Text1 }}</li>
                    <li>{{ expTitle1Text2 }}</li>
                    <li>{{ expTitle1Text3 }}</li>
                </ul>
                <h4>{{ expTitle2 }}</h4>
                <ul>
                    <li>{{ expTitle2Text1 }}</li>
                    <li>{{ expTitle2Text2 }}</li>
                    <li>{{ expTitle2Text3 }}</li>
                </ul>
            <dd class="clear"></dd>
            <h2>Hobbies</h2>
            <p class="hobbies">{{ hobbies }}</p>
            <dd class="clear"></dd>
            <h2>References</h2>
            <p class="references">{{ references }}</p>
            <dd class="clear"></dd>
        </dl>
        <div class="clear"></div>
    </div>
</template>
<style>
* { margin: 0; padding: 0; }
        body { font: 16px Helvetica, Sans-Serif; line-height: 24px; }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px auto; }
        #pic-desktop { float: right; margin: -30px 0 0 0; max-height: 400px; max-width: 300px; border-radius: 25%;}
        #pic-tablet { float: right; margin: -30px 250px 0 0; max-height: 320px; max-width: 240px; border-radius: 25%;}
        #pic-mobile { float: left; margin: 0 0 0 20px; max-height: 320px; max-width: 50%; border-radius: 25%;}
        .pic-mobile { max-width: 100%; }
        .fn-desktop { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; text-align: left;}
        .fn-tablet { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; text-align: left;}
        .fn-mobile { margin: 0 auto 16px auto; padding: 0 0 16px 10px; font-size: 32px; font-weight: bold; letter-spacing: -2px; text-align: left;}
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; text-align: left; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; text-align: left;}
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin: 0 0 32px 17px; }
        #objective-desktop { max-width: 50%; float: left; }
        #objective-tablet { max-width: 30%; float: left; }
        #objective-mobile { max-width: 60%; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; text-align: left;}
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
        .generalInfo { text-align: left; }
        #generalInfo { max-width: 40%; }
        li { text-align: left; }
        .hobbies { text-align: left; }
        .references { text-align: left; }
        h4 { text-align: left; }
</style>
<script>
import vueResponsive from 'vue-responsive'
import Vue from 'vue'
Vue.directive('responsive', vueResponsive)
export default {
  name: 'CV',
  data () {
    return {
      textObjective: 'Cras in ante ultrices, luctus ante ultrices, tincidunt dolor. Curabitur et massa molestie, efficitur ligula ac, eleifend erat. Cras gravida consequat felis. Nam dapibus ligula id erat fermentum, ut suscipit arcu iaculis.',
      educationTitle: 'Pellentesque feugiat in felis sed ultrices',
      educationSubtitle1: 'Aenean',
      educationSubtitle2: 'Etiam',
      educationText1: 'Phasellus Mattis',
      educationText2: 'Phasellus Rutrum',
      skillsTitle1: 'Aliquam ut eli',
      skillsTitle2: 'Vestibulum cursus',
      skillsText1: 'Phasellus molestie facilisis libero, vel consequat purus volutpat eget',
      skillsText2: 'Sed vestibulum placerat purus et venenatis',
      expTitle1: 'Nullam sodales',
      expTitle2: 'Proin gravida',
      expTitle1Text1: 'Duis iaculis eleifend urna in consequat',
      expTitle1Text2: 'Fusce a velit laoreet, pharetra massa eget',
      expTitle1Text3: 'Suspendisse varius metus a dolor tempus',
      expTitle2Text1: 'Ut consectetur urna non ligula pretium hendrerit',
      expTitle2Text2: 'Nullam sit amet lacus elementum',
      expTitle2Text3: 'Fusce justo elit, congue id dolor',
      hobbies: 'Maecenas, ultricies sed est nec pretium.',
      references: 'Available on request'
    }
  }

}
</script>
