<template>
<div class="homePage">
<img class="myImg" src="../assets/me.jpg">
<p class="generalInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu condimentum tortor. Aenean blandit commodo sapien id elementum. Fusce lobortis, dui id porta congue, nibh velit blandit lorem, vitae ornare metus orci id odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam a ligula volutpat, rhoncus ipsum in, fringilla augue. Cras nec felis ultricies, vehicula est vel, aliquam nisl. Sed finibus fringilla luctus. Nam imperdiet et dui quis vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ut interdum mi, a pharetra sapien. Duis porttitor, massa eget faucibus volutpat, mi est accumsan urna, tincidunt fringilla lectus enim non ante. In sed mollis purus.
Curabitur tempus ligula congue enim sollicitudin, in mattis massa fringilla. Suspendisse ullamcorper sem ut mi elementum mollis. Proin lobortis efficitur nunc ut auctor. Aliquam tempus tellus ac nisl scelerisque, et volutpat erat mattis. Nam nec interdum felis. Praesent aliquet nulla quis justo egestas accumsan. Mauris suscipit tellus quis placerat ultricies. Curabitur at placerat purus. Suspendisse gravida in lectus nec egestas. Curabitur laoreet purus quis fringilla faucibus. Curabitur vel ex viverra, lobortis metus sed, maximus ante. Aliquam aliquam tortor sed dictum dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti.</p>
</div>
</template>
<style>
.myImg {
    max-width: 20%;
    max-height: 20%;
    margin-top: 20px;
    border-radius: 60%;
}
.generalInfo {
    margin: 1% 10% 1% 10%;
    text-align: left;
}
</style>
<script>

export default {
  name: 'HomePage',
  data () {
    return {
      mgs: 'Heipä hei!',
      message: 'Helloo'
    }
  }
}
</script>
