<template>
  <div class="menu-links">
    <router-link to="/">Home</router-link>
    <router-link to="/cv">CV</router-link>
    <router-link to="/contact">Contact</router-link>
  </div>
</template>

<script>
</script>
<style>
.menu-links {
  position: center;
  max-height: 30%;
}
.menu-links a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  margin-right: 30px;
}
.menu-links a:hover {
  color: #7a7878a2;
}
</style>
