<template>
  <div id="app">
   <div class="header">
     <header-bar></header-bar>
   </div>
    <router-view/>
  </div>
</template>
<script>
import HeaderBar from '@/components/HeaderBar.vue'

export default {
  components: {
    HeaderBar
  },
  name: 'app'
}
</script>

<style>
.header {
  border-bottom: 1px solid #b3b3b3;
  max-width: 100%;
  padding: 30px 50px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 100%;
}

body {
  margin: 0;
}
</style>
